<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul v-if="names.length > 0">
        <li v-for="item in names">{{ item }}</li>
      </ul>
      <h2 v-else>当前names没有数据, 请重试</h2>
    </div>

    <script src="../../vue.js"></script>
    <script>
      const app = Vue.createApp({
        data: function () {
          return {
            // names: ["nba", "cba", "abc"],
            names: [],
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
