.mi_wrapper {
  width: 1226px;
  margin: 0 auto;
}

/* 清除浮动 */
.clear_fix::after {
  content: "";
  display: block;
  clear: both;
  /* 下面为了兼容性 */
  height: 0;
  visibility: hidden;
}
/* 兼容ie */
.clear_fix {
  *zoom: 1;
}


































