* {
  box-sizing: border-box;
}

body {
  font: 12px Arial, Helvetica, sans-serif;
}




body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}



/* a标签去除样式 */
a {
  text-decoration: none;
  color: #333;
  outline: none;
}



ul, li {
  list-style: none;
}


input {
  outline: none;
  border: none;
}


img {
  vertical-align: top;
}







