.item {
  width: 234px;
  height: 300px;
  background-color: rgb(238, 219, 219);
  display: inline-block;
  text-align: center;
  padding: 15px 10px;
  box-sizing: border-box;
}

.item img {
  width: 160px;
  height: 160px;
  /* margin: 0 auto; */
}

.item .title {
  margin-top: 12px;
}

.item .desc {
  /* margin-top: 0px; */
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


















